global:
  resolve_timeout: 5m

route:
  receiver: 'discord-notifications'
  group_by: ['alertname', 'instance']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h

receivers:
  - name: 'discord-notifications'
    webhook_configs:
      - url: 'http://localhost:9094/webhook'
        send_resolved: true
